<table class="table">
  <thead>
    <tr>
      <th>LeadRefNo</th>
      <th>ProjectValue</th>
      <th>Image</th>
      <th>EirCode</th>
      <th>SiteContactFullName</th>
      <th>SiteContactEmail</th>
      <th>SiteContactMobile</th>
    </tr>
  </thead>
  <tbody *ngIf="leadList$ |async; let leads">
    <tr *ngFor="let emp of leads.data">
      <td>{{emp.leadRefNo}}</td>
      <td>{{emp.projectValue}}</td>
      <td><img width="20px" height="30px" [src]="emp.dwellingImagePath"></td>
      <td>{{emp.projectEirCode}}</td>
      <td>{{emp.siteContactFullName}}</td>
      <td>{{emp.siteContactEmail}}</td>
      <td>{{emp.siteContactMobile}}</td>
    </tr>
  </tbody>
</table>
<div class="row">
  <div class="col-md-4">
    <pagination [totalItems]="totalLeadItem" [itemsPerPage]="leadPerPage" (pageChanged)="pageChanged($event)">
    </pagination>
  </div>
  <div class="col-md-4">
    <select class="col-md-6" [value]="leadPerPage" (change)="employeePerPageChange($event)">
      <option value="10"> 10 page</option>
      <option value="20"> 20 page</option>
    </select>
  </div>
</div>