

<div class="row ms-4 col-md-6">
  <label>Search by First Name</label>
  <input [(ngModel)]='fName' class="form-control" placeholder="Filter By First Name">
  <!-- <button (click)="onFilterByFName()" class="btn btn-primary">Search</button> -->
</div>

<table class="table">
  <thead>
    <tr>
      <th (click)="getByName('FName')" scope="col"><a class="btn">First Name</a></th>
      <th (click)="getByName('LName')" scope="col"><a class="btn">Last Name</a></th>
      <th (click)="getByName('Position')" scope="col"><a class="btn">Designation</a></th>
      <th (click)="getByName('DoB')" scope="col"><a class="btn">Age</a></th>
      <th (click)="getByName('Salary')" scope="col"><a class="btn">Salary</a></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of employeeList2 |filter:fName:'FName'| sort:[sortingParams,sortDirection]">
      <td>{{emp.FName}}</td>
      <td>{{emp.LName}}</td>
      <td>{{emp.Position}}</td>
      <td>{{emp.DoB | age}}</td>
      <th >{{emp.Salary }}</th>
    </tr>
  </tbody>
</table>

<div class="row">
  <div class="col-md-4">
    <select class="col-md-6" [value]="employeePerPage" (change)="employeePerPageChange($event)">
      <option value="5">5 page</option>
      <option value="10">10 page</option>
      <option value="15">15 page</option>

    </select>
  </div>
  <div class="col-md-2">
    <strong> {{pageIndex}}--{{employeePerPage*selectPage}} of {{employeeList.length}}</strong>
  </div>
  <div class="col-md-6">
    <button [disabled]="!preBtnDisable" class="btn btn-outline-primary" (click)="prePage()">Pre</button>
    <button *ngFor="let page of pageNumbers" class="btn btn-outline-primary"
    [class.active]="page==selectPage"
     (click)="changePage(page)">{{page}}</button>
    <button [disabled]="!nextBtnDisable" class="btn btn-outline-primary" (click)="nextPage()">Next</button>
  </div>
</div>
  
