<div class="row d-flex">
  <div class="ms-4 col-md-6">
    <label>Search by First Name</label>

    <input
      name="fName"
      [(ngModel)]="fName"
      class="form-control"
      placeholder="Filter By First Name"
      (ngModelChange)="search()"
    />
  </div>
  <div class="col-md-3 my-2">
    <a class="btn btn-primary" routerLink="add">Employee Add</a>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th (click)="getByName('fName')" scope="col">
        <a class="btn">First Name</a>
      </th>
      <th (click)="getByName('lName')" scope="col">
        <a class="btn">Last Name</a>
      </th>
      <th (click)="getByName('email')" scope="col"><a class="btn">Email</a></th>
      <th (click)="getByName('phone')" scope="col"><a class="btn">Phone</a></th>
      <th (click)="getByName('department')" scope="col">
        <a class="btn">Department</a>
      </th>
      <th (click)="getByName('designation')" scope="col">
        <a class="btn">Designation</a>
      </th>
      <th scope="col"><a class="btn">Action</a></th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let emp of employeeList2 | sort: [sortingParams, sortDirection]"
    >
      <td>{{ emp.fName }}</td>
      <td>{{ emp.lName }}</td>
      <td>{{ emp.email }}</td>
      <td>{{ emp.phone }}</td>
      <td>{{ emp.department }}</td>
      <td>{{ emp.designation }}</td>
      <td>
        <a routerLink="edit/{{ emp.id }}" class="btn btn-sm btn-danger">Edit</a>
        |
        <button (click)="onDelete(emp.id)" class="btn btn-sm btn-primary">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="row">
  <div class="col-md-4">
    <app-paginator
      [totalRecords]="employeeList.length"
      [employeePerPage]="5"
      (selectPagePageEmit)="selectPagePageChange($event)"
      (employeePerPageEmit)="employeePageChange($event)"
    ></app-paginator>
  </div>
</div>
