<div class="container my-3">
    <div class="row col-md-8">
        <div>
            <h2>{{editMode?'Update Employee':'Add Employee'}}</h2>
        </div>  
        <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
            <input type="hidden" class="form-control" formControlName="id">
            <div class="form-group">
                <label for="fName" class="form-label">Employee Frist Name</label>
                <input type="text" class="form-control" formControlName="fName">
                <span class="error-block"
                    *ngIf="!employeeForm.controls['fName'].valid &&(employeeForm.controls['fName'].touched )">
                    First Name is Required
                </span>
            </div><br>
            <div class="form-group">
                <label for="lName" class="form-label">Employee Last Name</label><br>
                <input type="text" class="form-control" placeholder="Enter Last Name" formControlName="lName">
                <span class="error-block"
                    *ngIf="!employeeForm.controls['lName'].valid && (employeeForm.controls['lName'].touched )">Last
                    Name is Required</span>
            </div><br>
            <div class="form-group">
                <label for="email" class="form-label">Employee Email</label><br>
                <input type="email" class="form-control" placeholder="Enter Email" formControlName="email">
                <span class="error-block" *ngIf="!employeeForm.controls['email'].valid && (employeeForm.controls['email'].touched )">
                    <span *ngIf="employeeForm.controls['email'].hasError('required')">
                        Please Provide Email
                    </span>
                    <span *ngIf="employeeForm.controls['email'].hasError('email')">Please Provide Valid Email</span>
                </span>
            </div><br>
            <div class="form-group">
                <label for="number" class="form-label">Employee Phone</label><br>
                <input type="number" class="form-control" placeholder="+880.. Or 880.."
                    formControlName="phone">
                <span class="error-block" *ngIf="!employeeForm.controls['phone'].valid && (employeeForm.controls['phone'].touched)">

                    <span *ngIf="employeeForm.controls['phone'].hasError('required')">
                        Please Provide Phone
                    </span>
                    <span *ngIf="employeeForm.controls['phone'].hasError('pattern')">
                        Phone number have to start with +88 or 88 and length 11 
                    </span>
                </span>
            </div><br>

            <div class="form-group">
                <label for="exampleFormControlSelect1" class="form-label">Select Department</label><br>
                <select class="form-control" formControlName="department">
                    <option *ngFor="let data of departments" value={{data.Name}}>{{data.Name}}</option>
                </select>
                <span class="error-block"
                    *ngIf="!employeeForm.controls['department'].valid && (employeeForm.controls['department'].touched )">Select
                    A Department</span>
            </div><br>

            <div class="form-group">
                <label for="exampleFormControlSelect1" class="form-label">Select Designation</label><br>
                <select class="form-control" formControlName="designation">
                    <option *ngFor="let data of designations" value={{data.Name}}>{{data.Name}}</option>
                </select>
                <span class="error-block"
                    *ngIf="!employeeForm.controls['designation'].valid && (employeeForm.controls['designation'].touched )">
                    Select Designation
                </span>
            </div><br>

            <div class="form-group" formArrayName="education">
                <div *ngFor="let control of employeeForm.controls.education.controls; let i=index"
                    [formGroup]="control">
                    <label *ngIf="i==0" class="col-md-2">Degrees</label>
                    <label class="col-md-2" *ngIf="i==0">Scores : </label>
                    <label class="col-md-2" *ngIf="i==0">PassingYear : </label><br>

                    <select formControlName="degree" class="col-md-2">
                        <option *ngFor="let s of degrees" value="{{s.Name}}">{{s.Name}}</option>
                    </select>

                    <input type="number" class="col-md-2" placeholder="Enter Scores" formControlName="scores" >

                    <select formControlName="passingYear" class="col-md-2">
                        <option *ngFor="let s of passingYears" value="{{s}}" >{{s}}</option>
                    </select>

                    <button class="btn btn-danger"  (click)="Remove(i)">Remove</button>
                    <button (click)="addEdu()" *ngIf="count==i" class="btn btn-primary">Add</button><br>
                    <span class="error-block col-md-2"
                        *ngIf="!control.controls.degree.valid && (control.controls.scores.touched || btnDisaabaleForEducation)">Select
                        Dergree</span>
                    <span class="error-block col-md-2"
                        *ngIf="!control.controls.scores.valid && (control.controls.scores.touched || btnDisaabaleForEducation)">
                        Scores must be 1 to 5</span>
                    <span class="error-block col-md-2"
                        *ngIf="!control.controls.passingYear.valid && (control.controls.scores.touched || btnDisaabaleForEducation )">
                        Passing Year Not Valid
                    </span>
                </div>
            </div><br>
            <button type="submit" [disabled]="!employeeForm.valid" class="btn btn-primary">{{editMode?'Update':'Submit'}}</button>
            
            <button type="reset" class="btn btn-primary ms-2">Reset</button>
        </form>
    </div>
</div>