<div >
  <h2>Using Component Data</h2>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Address</th>
      <th scope="col">DoB</th>
      <th scope="col">Age</th>
      <th scope="col">Salary</th>
      <th scope="col">Position</th>
      <th scope="col">joiningAge</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of empList2">
      <th >{{emp.Id}}</th>
      <td>{{emp.FName}}</td>
      <td>{{emp.LName}}</td>
      <th >{{emp.Address}}</th>
      <td>{{emp.DoB}}</td>
      <td>{{emp.DoB|age}}</td>
      <th >{{emp.Salary}}</th>
      <td>{{emp.Position}}</td>
      <td>{{emp.joiningAge}}</td>
    </tr>
    
  </tbody>
</table>
<div class="row">
  <div class="col-md-2 ">
    <select [value]="empPerpage" class="from-control" (change)="changePazeSixe($event)">
      <option value="5">Select 5</option>
      <option value="10">Select 10</option>
      <option value="15">Select 15</option>
    </select>
  </div>
  <div class="btn-group">
    
    <button class="btn btn-outline-primary  " *ngFor="let page of pageNumbers"
    [class.active]="page==selextedPage" (click)="changePage(page)">{{page}}</button>
  </div>
</div>

<br>
<br>
<br>


  
